{% extends "base.html" %}
{% block content %}
<center>
<div class="input_container">
<form id="queryForm" class="input-form" name="form" action="{% url "summarize" %}" method="POST"> {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" id="txtInput" aria-describedby="emailHelp" placeholder="Show me less about..." name="input">
    <small id="emailHelp" class="form-text text-muted">What do you want to study about?</small>
  </div>
  <button type="button" class="btn btn-primary" onclick="validateInput()">Search</button>
</form>
</div>
</center>
{% endblock content %}
